.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Header {
  background-color: #192841;
  color: white;
  padding: 2%;
  padding-left: 7%;
  padding-bottom: 8%;
  padding-right: 4%;
  margin: 1%;
}

h1 {
  font-size: 64px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.textHeader {
  text-align: start;
  width: 300px;
  padding-top: 5px;
  padding-bottom: 30px;
  letter-spacing: 0.5px;
  font-size: 16px;
  word-spacing: 1px;
}

button {
  background-color: white;
  color: #152237;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 6%;
  display: flex;
  justify-content: flex-start;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 4%;
}

.Cards {
  display: flex;
  justify-content: space-around;
  padding: 5%;
  width: 1000px;
}

.cardtext {
  color: grey;
  letter-spacing: 0.5px;
  text-align: start;
  margin: 10px;
}

h2 {
  text-align: start;
  margin: 10px;
  color: rgb(65, 63, 63);
}

.item {
  display: grid;
  justify-content: flex-start;
  width: 200px;
}

.Cards {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-left: 150px;
}
